body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.main-one {
    background-color: #1f2937;
    padding: 0px 150px 75px 150px;
    display: flex;
    flex-direction: column;
    height: 450px;
}

.header-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
    padding: 20px 0px 20px 0px;
    font-weight: 700;
}

.header-logo:hover {
    cursor: pointer;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
    padding: 15px;
}

.header-link:hover {
    cursor: pointer;
}

/*Section One, NavBar done*/

.main-signup {
    margin-top: 100px;
    display: flex;
    flex: auto;
    height: 300px;
    align-items: center;
    gap: 75px;
}

.signup-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    gap: 20px
}

.signup-right {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 700;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    padding: 10 0px 10 0px;
}

.signup-button {
    padding: 7px 30px 7px 30px;
    background-color: #3882F6;  
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

/*Picture on right side*/
.bocchi {
    max-width: 100%;
    max-height: 100%;
}

/*First section end*/


